{% style %}
  .gender-section {
   height:100vh !important;
    display:flex;
    justify-content: space-between;
    
}
  .gender-section div {
  
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
   
  }
    .gender-section div a {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .men-container {
    border-right:1px solid black
  }

  {% endstyle %}
{{ page.title }}
<div class="gender-section">
<div class='men-container'><a href='/pages/home'>{% render 'mens-icon' %}</a></div>
 
<div><a href='/pages/home'>{% render 'female-icon' %}</a></div>
  </div>


{% schema %}
  {
    "name": "Landing",
    "settings": []
  }
{% endschema %}