{{ page.title }}
<div><a href='/page/home'>Men's Collection</a></div>
<div><a href="{{ routes.root_url }}">Women's Collection</a></div>


{% schema %}
  {
    "name": "Landing",
    "settings": []
  }
{% endschema %}