{{ page.title }}
<div><a href='/'>Men's Collection</a></div>
<div><a href='/'>Women's Collection</a></div>
<script>
  function setLandingPageVisited() {
    localStorage.setItem('landingPageVisited', 'true');
  }
</script>

{% schema %}
  {
    "name": "Landing",
    "settings": []
  }
{% endschema %}