{% style %}
  {% endstyle %}
{{ page.title }}
<div>
<div><a href='/pages/home'>{% render 'mens-icon' %}</a></div>
<div><a href='/pages/home'>{% render 'female-icon' %}</a></div>
  </div>


{% schema %}
  {
    "name": "Landing",
    "settings": []
  }
{% endschema %}